<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthAndFitness"
        tools:targetApi="31">
        <activity
            android:name=".Activities.ChallengeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ChallengeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.VideoPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CalorieTrackerActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.WorkoutPlanActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>